
@{
    ViewBag.Title = "Cerca Dati";

}

<h1>Seleziona la tipologia di dati che vuoi cercare</h1>
<div class="row">
    <div class="col-xs-4">
        <a href="~/Supplier/SearchSupplier" class="btn btn-info btn-block btn-lg"> CERCA CLIENTI </a>
    </div>
    <div class="col-xs-4">
        <a href="~/Order/SearchOrder" class="btn btn-info btn-block btn-lg"> CERCA ORDINI </a>
    </div>
    <div class="col-xs-4">
        <a href="~/Product/SearchProduct" class="btn btn-info btn-block btn-lg"> CERCA PRODOTTI </a>
    </div>
</div>