@model CompanyManagement.Models.SuppliedProductViewModel
@{
    ViewBag.Title = "Delete Supplied Products";
}
<button type="button" class="glyphicon glyphicon-remove btn btn-danger" data-toggle="modal"></button>