@model CompanyManagement.Models.SuppliedProductViewModel
@{
    ViewBag.Title = "Edit Supplied Products";
}

<button type="button" class="glyphicon glyphicon-edit btn btn-primary" data-toggle="modal"></button>